html {
  background: image-url("bg-5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

body{
  text-rendering: optimizeLegibility;
  max-width: 87.75em;
  min-width: 800px;
  font-family: varela,"century gothic",helvetica,arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 40px auto;
  padding: 0 1em;
}

p {
  margin-bottom: 1.5em;
  line-height: 2em;
  letter-spacing: 1px;
  color: #2A82AC;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: auto auto;
  max-width: 1680px;
}

section, footer {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

footer {
  li {
    text-shadow: 1px 2px 1px #9B9BA2;

    a {
      color: #000;
      &:visited {
        color: #000;
      }
      &:hover {
        color: #71b3f7;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #2A82AC;

  &:visited {
    color: #2A82AC;
  }

  &:hover {
    color: #71b3f7;
  }
}

li {
  display: inline-block;
}

header.banner {
  text-transform: uppercase;
  padding: 7em 0;
  text-align: center;

  ul {
    font-size: 30px;

    .active {
      pointer-events: none;
    }
  }
}

.container {
  ul#work-list {
    li {
      margin: 0 3.8em 2em 0;

      a {
        display: block;

        &:hover {
          opacity: 0.5;
          color: #71b3f7;
          transition: 0.2s;
        }
      }
      span {
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0px 1px 1px #8A8AE7;

        a {
          padding-top: 0.7em;
        }
      }
    }
  }
}

.content {
  display: none;

  .slideshow {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 175px;
    text-align: center;
    ul {
      padding: 0;
    }
  }

  .text {
    font-size: 14px;
    margin: 3em auto;
  }

  li {
    img {
      width: 1100px;
      height: 600px;
    }
  }
  > div {
    display: none;
  }
  &.active {
    display: block;
  }
  .active {
    display: block;
  }
}
