section {
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: #71b3f7;
  }
}

li {
  display: inline-block;
}

header.banner {
  text-transform: uppercase;
  height: 100px;
  padding: 40px;
  
  ul {
    text-align: center;
    font-size: 30px;
  }
}

.container {
  li {
    margin: 0 15px 15px 0;
    width: 320px;

    a {
      display: block;
      color: #667;

      &:hover {
        color: #71b3f7;
      }
    }
    span {
      text-align: center;
    }
  }
}

.content {
  height: 800px;
  text-align: center;
  display: none;

  li {
    img {
      height: 600px;
    }
  }
  > div {
    display: none;
  }
  &.active {
    display: block;
  }
  .active {
    display: block;
  }
  .text {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
  }
}
